<div class="recipes-container">
</div>

<div class="recipe-bg">
</div>

<h1><%= @recipe.title %></h1>

<%= image_tag @recipe.picture.url, id: "recipe-picture", class: "recipe-picture" %>

<p id="recipe-description">
<%= @recipe.description %>
</p >

<br>

<div class="recipe-instructions">

	<ul>
		<li id="recipe-steps" onclick="show_ingredients();">INGREDIENTES</li>
		<li id="recipe-steps" onclick="show_preparation();">MODO DE PREPARO</li>
	</ul>

	<div class="recipe-ingredients" id="recipe-ingredients">
		<ul>	
			<% @recipe.ingredients.split(",").each do |recipe| %>
				<li id="recipe-ingredient"><%= recipe %></li>
			<% end %>
		</ul>	
	</div>

	<div class="recipe-preparation" id="recipe-preparation" >
		<pre>
<%= @recipe.directions %>
		</pre>
	</div>	

</div>
