<div class="welcome-container">

  <nav class="welcome-nav" id="welcome">
    <ul>
      <li><%= link_to "LOGIN", new_user_session_path %></li>
      <li><%= link_to "CADASTRO", new_user_registration_path %></li>
      <li>Receitas</li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
    </ul>
  </nav>

  <h1>Tudo Cozinha</h1>
  <p>sua coleção de sabores</p>

  <a href="#welcome-recipe">
    <%= image_tag "down_arrow.png", class: "welcome-arrow" %>
  </a>

</div>

<div class="welcome-recipe" id="welcome-recipe">

  <p>+ de 8000 receitas</p>

  <div class="welcome-show-recipes">
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list", class: "col-xs-1 col-md-1" %>
  </div>

</div>

<div class="welcome-actions row" id="welcome-actions">
  
  <div class="action col-xs-12 col-md-6" id="welcome-new-user" >
    <p>Crie sua conta e compartilhe deliciosas receitas</p>

    <input type="button" value="Cadastra-se" class="btn btn-primary">

  </div>

  <div class="action col-xs-12 col-md-6" id="welcome-new-recipe">
    <p>Faça já sua coleção de receitas, é facil</p>

    <input type="button" value="Entrar" class="btn btn-primary">

  </div>

</div>