<div class="welcome-container">

  <nav class="welcome-nav">
    <ul>
      <li>Login</li>
      <li>Cadastro</li>
      <li>Receitas</li>
    </ul>
  </nav>

  <h1>Tudo Cozinha</h1>
  <p>sua coleção de sabores</p>

  <a href="#welcome-recipe">
    <%= image_tag "down_arrow.png", class: "welcome-arrow" %>
  </a>

</div>

<div class="welcome-recipe" id="welcome-recipe">

  <p>+ de 8000 receitas</p>

  <div class="welcome-show-recipes">
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome.jpg", id: "welcome-recipe-list" %>
    <%= image_tag "bg_welcome2.jpg", id: "welcome-recipe-list" %>
  </div>

</div>