<p class="navbar-text navbar-right">
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' if current_user %>
</p>

<p class="navbar-text navbar-right">
  <%= link_to "Nova receita", "#" %>
</p>

<p class="navbar-text navbar-right">
  <%= notice %> <%= alert %> <%= current_user.email if current_user %>
</p>